<nav class="navbar navbar-dark bg-primary mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="">Home</a>
      <a class="nav-item nav-link active" routerLink="users">Users</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/hirannor" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>