<phoenix-modal>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div class="form-group">
      <label for="userName" class="label label-default">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="userName" required #usrName="ngModel" [ngClass]="{'is-invalid':usrName.invalid}"/>
      <div *ngIf="usrName.invalid && (usrName.dirty || usrName.touched)"
           class="alert alert-danger">
        <div *ngIf="usrName.errors.required">
          Username is required
        </div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!signupForm.form.valid">Send</button>
  </form>
</phoenix-modal>
