<div class="jumbotron">
  <h1>Welcome {{currentUser.firstName}}  {{currentUser.lastName}}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet mi at ante iaculis pulvinar. Praesent congue,
    ipsum vel rhoncus placerat, orci elit lacinia purus, non hendrerit sem justo vel elit. Cras nec tortor sit amet diam
    malesuada convallis id non orci. Donec in semper sem. Nullam condimentum tempor malesuada. Morbi mollis ex ut
    elementum tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  </p>
</div>

