<phoenix-modal title="Signup">
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div class="form-group">
      <label for="userName" class="label label-default">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="user.userName" required #userName="ngModel" [ngClass]="{'is-invalid':userName.invalid}"/>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
           class="alert alert-danger">
        <div *ngIf="userName.errors.required">
          Username is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="label label-default">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="user.password" required #password="ngModel" [ngClass]="{'is-invalid':password.invalid}"/>
      <div *ngIf="password.invalid && (userName.dirty || userName.touched)"
           class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="emailAddress" class="label label-default">Email Address</label>
      <input type="text" name="emailaddress" class="form-control" [(ngModel)]="user.emailAddress" required #emailAddress="ngModel" [ngClass]="{'is-invalid':emailAddress.invalid}"/>
      <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)"
           class="alert alert-danger">
        <div *ngIf="emailAddress.errors.required">
          Email address is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName" class="label label-default">First Name</label>
      <input type="text" name="firstname" class="form-control" [(ngModel)]="user.firstName" required #firstName="ngModel" [ngClass]="{'is-invalid':firstName.invalid}"/>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
           class="alert alert-danger">
        <div *ngIf="firstName.errors.required">
          Firstname is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="label label-default">Last Name</label>
      <input type="text" name="lastname" class="form-control" [(ngModel)]="user.lastName" required #lastName="ngModel" [ngClass]="{'is-invalid':lastName.invalid}"/>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
           class="alert alert-danger">
        <div *ngIf="lastName.errors.required">
          Lastname is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="age" class="label label-default">Age</label>
      <input type="number" name="age" class="form-control" [(ngModel)]="user.age" required #age="ngModel"
             [ngClass]="{'is-invalid':age.invalid}" [customMin]="minAge" [customMax]="maxAge"/>
      <div *ngIf="age.invalid && (age.dirty || age.touched)"
           class="alert alert-danger">
        <div *ngIf="age.errors.required">
          Age is required
        </div>
        <div *ngIf="age.errors?.customMin">
          Minimum age should be atleast {{minAge}}
        </div>
        <div *ngIf="age.errors?.customMax">
          Maximum age can't be higher than {{maxAge}}
        </div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!signupForm.form.valid">Send</button>
  </form>
</phoenix-modal>
