    <h1> {{'phoenix.userManagement.title' | translate}} </h1>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{'phoenix.userManagement:Table.head.username' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.role' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.firstName' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.lastName' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.emailAddress' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.age' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.status' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.remove' | translate}}</th>
        <th scope="col">{{'phoenix.userManagement:Table.head.edit' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.emailAddress}}</td>
        <td>{{user.age}}</td>
        <td>
          {{user.active === true ? 'ACTIVE' : 'DISABLED'}}
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user.userName)">{{'phoenix.userManagement:Button.remove' | translate}}</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openEditModal(user)">{{'phoenix.userManagement:Button.edit' | translate}}</button>
        </td>
      </tr>
      </tbody>
    </table>
