<nav class="navbar navbar-dark bg-success mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['home']">{{'phoenix.admin.header:Text.home' | translate}}</a>
      <a class="nav-item nav-link active" [routerLink]="['usermanagement']">{{'phoenix.admin.header:Text.userManagement' | translate}}</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" (click)='logout()'>
        {{'phoenix.admin.header:Text.logout' | translate}}
      </a>
    </div>
  </div>
</nav>
