.login-container {
  position: relative;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

form {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn {
  background-color: #8FBC8F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.btn-login {
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.credentials-text {
  font-size:1vw;
  font-weight: bold;
}
