<div class="login-container">
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName" class="label label-default">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="credentials.userName" required/>
      </div>
      <div class="form-group">
        <label for="password" class="label label-default">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="credentials.password" required/>
      </div>
      <button class="btn btn-primary">Login</button>
  </form>
  <button class="btn btn-primary" (click)="openModal()">Signup</button>
</div>

